---
import { Image } from "astro:assets";
import { markdownify } from "@/lib/utils/textConverter";

const { cta } = Astro.props;
---

<section class="section items-center justify-center">
  <div class="items-center justify-center">
    <div class="md:col-12 lg:col-6">
      <Image
        class="w-full"
        src={cta?.image}
        alt="call to action image"
        width={625}
        height={412}
      />
    </div>
    <div class="text-center md:mt-0 md:col-6 lg:col-6">
      <h2>{cta?.title}</h2>
      <div class="flex flex-col">
        <p class="mt-6" set:html={markdownify(cta?.content)} />
        {
          cta.button.enable && (
            <a
              class="btn btn-primary rounded-md mt-4 text-center"
              href={cta.button.link}
              rel={cta.button.rel}
            >
              {cta.button.label}
            </a>
          )
        }
      </div>
    </div>
  </div>
</section>
