---
import TwSizeIndicator from "@/components/TwSizeIndicator.astro";
import BaseHead from "@/layouts/partials/BaseHead.astro";
import Footer from "@/partials/Footer.astro";
import Header from "@/partials/Header.astro";
import "@/styles/main.scss";

// types for frontmatters
export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}

// distructure frontmatters
const { title, meta_title, description, image, noindex, canonical } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} meta_title={meta_title} description={description} image={image} noindex={noindex} canonical={canonical}/>
  <body>
    <TwSizeIndicator />
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body><script>
    document.addEventListener("astro:page-load", async () => {
      const preline = await import("preline/dist/preline.js");
      preline.HSStaticMethods.autoInit();
    });
  </script>
</html>
